FLASK_ENV=
SECRET_KEY=
MONGO_URI=
ADMIN_PASSWORD=
LOGIN_TITLE=
DEV_RECIPIENT_EMAIL=
SENDER_INVOICE_EMAIL=
BREVO_API_KEY=
EMETTEUR_NOM=
EMETTEUR_ADRESSE=
EMETTEUR_CP=
EMETTEUR_VILLE=
EMETTEUR_PAYS=
EMETTEUR_EMAIL=
EMETTEUR_SIRET=
EMETTEUR_BIC=
EMETTEUR_IBAN=